@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueo de cuenta";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido bloqueada, por favor revise su correo.</p>
</header>
