@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    La clave ha sido actualizada. Por favor <a asp-page="./Login">Cilck aquí para iniciar sesión</a>.
</p>
